{% extends 'base.html' %}

{% block header_content %}

<a href="https://github.com/Cloud-CV/VQA" target="_blank"><img style="position: fixed; top: 0; right: 0; border: 0; z-index:2000;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

<div class="container">
    <div class="page-header">
        <h1 align="center">Visual Question Answering</h1>
        <br><h4>CloudCV can answer questions you ask about an image</h4>
        <font size="4">
            <p>
                Torch code for VQA is available <a href="//github.com/jiasenlu/HieCoAttenVQA">here</a>. Browsers currently supported by the demo: Google Chrome, Mozilla Firefox.
            </p>
        </font>
    </div>
</div>

{% endblock %}

{% block form %}
<style type="text/css">

  .caption {
    font-size: 18px !important;
    font-weight: bold;
}

#inputAnswer, #predictedAnswer{
    font-weight: bold;
}

.under
{
position:absolute;
z-index:-1;
}

.over
{
position:absolute;
z-index:0;
mix-blend-mode: multiply;
}

#gradCamCaption{
  position: relative;
  padding-top: 350px;
}

.finalImages{
  width: 350px !important;
  height: 350px !important;
  padding: 6px;
}

.resultText{
  margin-bottom: 15px !important;
}

</style>

<div class="container">
  <div class="page-header">
    <h2 id="userImages">Try Grad-CAM on your images</h2>
  </div>

  <form id="my-dropzone" method="post" class="dropzone" action="{% url "upload" %}" enctype="multipart/form-data">
  <input type="hidden" id="demoType" name="demo_type" value=""> 
  <input type="hidden" id="appType" name="type" value="vqa"> 
  {% csrf_token %}

  {% include 'form.html' %}
  </form>

{% endblock %}


{% block result %}


<script type="text/javascript">

  // Overriden 
  Dropzone.options.myDropzone = {
    autoProcessQueue: true,
    uploadMultiple: false,
    maxFiles: 10,

    init: function() {
      var myDropzone = this;

      myDropzone.on('success', function(file, data){
        console.log(data);
        $("#inputImageAfterUpload").attr('src', data['file_path']);
        $("#ResultDiv").show();
        $("#show-grad-cam-result").hide();
        $("#question").val("");
        scrollToElement($("#termstart"));
        $('#comments').prepend('<br>');
        $('#comments').prepend('<li>' + "Image uploaded successfully..." + '</li>');

      });
    }
  }
</script>

<script type="text/javascript">


$(document).ready(function(){
  var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
  var socket = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + "/chat" + window.location.pathname);

  socket.onopen = function() {
      console.log("User connected to the socket with socketid "+ "{{socketid}}");
      socket.send("{{ socketid }}");
  }

  socket.onmessage = function(response) {
    console.log("Getting response from the worker.....");
    console.log(JSON.parse(response.data));

    response = JSON.parse(response.data);

    if ("info" in response){
      console.log("Info is there as the key");
    }

    if ("terminal" in response) {
      $('#comments').prepend('<li>' + response['terminal'] + '</li>');
    }

    if("result" in response){

      result = JSON.parse(response['result']);
      console.log(result);
      var d = new Date();
      $("#overImg1").attr("src", result['img_path']);
      $("#predictedAnswer").text(result['answer']);
      $("#show-grad-cam-result").show();
      scrollToElement($("#show-grad-cam-result"));
    }

  }
});

  var getLocation = function(href) {
      var l = document.createElement("a");
      l.href = href;
      return l;
  };

function submitDemoImage(src){
  $("#demoType").val("demoImageType");
  $("#show-grad-cam-result").hide();
  $("#question").val("");
  var img_path = getLocation(src).pathname;
  $("#inputImageAfterUpload").attr('src', img_path);
  $("#ResultDiv").show();
  $('#comments').prepend('<br>');
  $('#comments').prepend('<li>' + "Submitted demo image" + '</li>');
  scrollToElement($("#termstart"));
  scrollToElement($("#resultHeading"));
}

function submitImageForVqa () {
  $("#show-grad-cam-result").hide();
  var question = $("#question").val();
  var l = $("#inputImageAfterUpload")[0].src;
  var img_path = getLocation(l).pathname;

  $.ajax({
    type    : 'POST', // define the type of HTTP verb we want to use (POST for our form)
    url     : '{% url 'vqa' %}', // the url where we want to POST
    data    : { 'img_path': img_path, 'csrfmiddlewaretoken': '{{ csrf_token }}', 'question': question, 'socketid': "{{socketid}}"} // our data object
  })// using the done promise callback
  .done(function(response) {
    console.log("Ajax call completed successfully.")
  });
}

</script>
<br>
  <div class="page-header">
    <h2 id="resultHeading" class="center">Result of Grad-CAM for Visual Question Answering</h2>
  </div>
  <br>
<div id="ResultDiv" class="row" style="display:None;">
  <div class="col-md-5" style="padding-bottom: 30px; clear: both;">
    <img class="img-responsive" src="" style="height: 300px;" id="inputImageAfterUpload">
  </div>
  <div class="col-md-7" style="padding-bottom: 30px;">
  <input id="question" class="form-control" name="question" placeholder="Enter the question" required><br>
    <input type="button" value="Submit" onclick="submitImageForVqa()" class="btn btn-primary">
  </div>
</div>
  <div class="row demoImages" style="display:None;" id="show-grad-cam-result" >
    <div class="col-md-12 resultText">
      <h3 style="display: inline;" align="center">Predicted Answer : &nbsp;</h3>
      <h3 id="predictedAnswer" style="display: inline;" class="center"></h3>
    </div>
  </div>
{% endblock %}

{% block credits %}
<h2 class="page-header"> Credits </h2>
<font size="4">
  <a href="https://github.com/jiasenlu/HieCoAttenVQA">Code for VQA Model</a><br>
    Built by <a href="http://github.com/DESHRAJ" target="_blank">@deshraj</a><br>
  <br><br>
</font>
<br>
  </div>

</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
</html>
{% endblock %}
